*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(140deg,rgb(176, 197, 135),rgba(0, 177, 0, 0.786));
    /* animation: motion 10s ease-in-out infinite; */
}
#captcha {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 75%;
    left: 8%;
    color: #f00;
}
#captcha-input{
    
    position: absolute;
    top: 80%;
    width: 50%;
}
@keyframes motion {
    0%{
        transform: rotateZ(0deg);
        
    }
    50%{
        transform: rotateZ(360deg);
        /* background: linear-gradient(360deg,rgb(176, 197, 135),rgba(0, 177, 0, 0.786)); */

    }
    100%{
        transform: rotateZ(0deg);
        /* background: linear-gradient(360deg,rgb(176, 197, 135),rgba(0, 177, 0, 0.786)); */

    }
}
.container-box{
    top: 9%;
    width: 35%;
    left: 31%;
    height: 80%;
    background: white;
    position: fixed;
    border-radius: 20px;
    box-shadow: 9px 9px 16px rgba(3, 24, 3, 0.8);
}
.contact-icon{
    width: 35px;
    height: 35px;
    margin-right: 12px;
}
.container-box .p1{
    position: relative;
    top: 6%;
    font-size: 185%;
    /* margin-left: 1rem; */
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.container-box .p2{
    position: relative;
    top: 6%;
    font-size: 140%;
    /* margin-left: 1rem; */
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    
}

.name-input{
    padding-left: 6%;
    position: absolute;
    top: 27%;
    left: 6%;
    width: 36%;
    height: 5%;
    border-radius: 7px;
    border: 1.5px solid black;
    font-weight: 700;
    
}
.email-input{
    padding-left: 6%;
    position: absolute;
    top: 38%;
    left: 6%;
    width: 82%;
    height: 5%;
    border-radius: 7px;
    border: 1.5px solid black;
    font-weight: 700;
}
.phone-input{
    padding-left: 6%;
    position: absolute;
    top: 27%;
    left: 52%;
    width: 36%;
    height: 5%;
    border-radius: 7px;
    border: 1.5px solid black;
    font-weight: 700;
}
.textarea-input{
    padding-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: absolute;
    top: 49%;
    left: 6%;
    width: 82%;
    height: 22%;
    border-radius: 7px;
    border: 1.5px solid black;
    font-weight: 700;
    resize: none;
}
.name-input-icon{
    left: 6%;
    z-index: 1;
    width: 7%;
    position: absolute;
    height: 6%;
    top: 26.8%;
        /* margin-right: 12px; */
}
.phone-input-icon{
    left: 52.5%;
    z-index: 1;
    width: 6%;
    position: absolute;
    height: 5%;
    top: 27.2%;
        /* margin-right: 12px; */
}
.email-input-icon{
    left: 7%;
    z-index: 1;
    width: 5%;
    position: absolute;
    height: 5%;
    top: 38.2%;
}
.textarea-input-icon{
    left: 7%;
    z-index: 1;
    position: absolute;
    width: 5%;
    height: 5%;
    top: 49%;
}
button{
    top: 89%;
    left: 26%;
    position: absolute;
    border-radius: 5px;
    /* color: white; */
    /* margin-top: -5px; */
    padding: 5px;
    width: 50%;
    background-color: rgb(0, 96, 0);
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 27px;
    box-shadow: 7px 4px 4px 0px rgb(0, 0, 0 , 0.5);
}
 button:hover{
     cursor: pointer;
     color: white;
     transition: .5s;
     box-shadow: 9px 4px 11px black;
    }
    .right-arrow{
        width: 5%;
        height: 5%;
    }
    .g-recaptcha{
        position: relative;
        top: 62%;
    left: 25%;
    }

    @media screen and (max-width: 480px) {
        button{

            top: 78%;
            left: 12%;
            position: absolute;
            border-radius: 5px;
            /* color: white; */
            /* margin-top: -5px; */
            padding: 5px;
            width: 68%;
            background-color: rgb(0, 96, 0);
            /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
            font-size: 27px;
            box-shadow: 7px 4px 4px 0px rgb(0, 0, 0 , 0.5);
        }
        .container-box .p1{
            top: 2%;
            font-size: 135%;        }
        .container-box .p2{
            top: 5%;
            font-size: 105%;
        }
}
        /* 
        @media screen and (min-width: 480px) {
            body {
                background-color: lightgreen;
        }
      } */